<footer class="footer-sedaredent">
  <div class="footer-container">
    <div class="footer-section logo-section">
      <div class="footer-logo">
        <img src="../../img/logo.png" alt="Logo de ProBucal Neira" />
      </div>
      <p>
        Av. Bolognesi N° 676, Tacna, Perú <br />
      </p>
      <div class="footer-phone">
        <i class="fas fa-phone-alt phone-icon"></i>
        <span>+51 950-799-852</span> <br>
        <span>+51 948-884-921</span>
      </div>
    </div>

    <div class="footer-section">
      <h4>Atención al Cliente</h4>
      <ul>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#">Gestión ética</a></li>
        <li><a href="#">Trabaja con nosotros</a></li>
        <li><a href="#">Preguntas frecuentes</a></li>
      </ul>
    </div>

    <div class="footer-section contact-info">
      <h4>Contáctanos</h4>
      <div class="contact-item">
        <p><strong>Dirección:</strong></p>
        <p>Av. Bolognesi N° 676<br />1er Piso, Tacna, Perú</p>
      </div>
      <div class="contact-item">
        <p><strong>Teléfono:</strong></p>
        <p>+51 972-777-563</p>
      </div>

      <div class="social-icons">
        <a href="https://www.facebook.com/PROBUCALNEIRA/" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/dental_neira/" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.tiktok.com/" target="_blank" aria-label="TikTok">
          <i class="fab fa-tiktok"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
